In [47]:
# https://signate.jp/competitions/1247
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

import sys
sys.path.append("../_utils") # システムパスに対象ディレクトリを追加
import utils

train = pd.read_csv('./data/train.csv', index_col=0)
test = pd.read_csv('./data/test.csv', index_col=0)
sample_submit = pd.read_csv('./data/sample_submission.csv', index_col=0, header=None)

In [41]:
# trainデータの先頭行を表示
train.head()

,created_at,tree_dbh,curb_loc,health,steward,guards,sidewalk,user_type,problems,spc_common,...,nta,nta_name,borocode,boro_ct,boroname,zip_city,cb_num,st_senate,st_assem,cncldist
0,2015-06-29,14,OnCurb,1,NaN,NaN,Damage,Volunteer,NaN,English oak,...,QN45,Douglas Manor-Douglaston-Little Neck,4,4152901,Queens,Little Neck,411,11,25,23
1,2016-09-21,5,OnCurb,1,3or4,Helpful,NoDamage,Volunteer,NaN,crimson king maple,...,BX05,Bedford Park-Fordham North,2,2039901,Bronx,Bronx,207,33,78,15
2,2015-09-13,26,OnCurb,2,NaN,NaN,NoDamage,Volunteer,StonesBranchLights,English oak,...,SI01,Annadale-Huguenot-Prince's Bay-Eltingville,5,5017011,Staten Island,Staten Island,503,24,62,51
3,2016-05-09,15,OnCurb,0,NaN,NaN,Damage,NYC Parks Staff,NaN,honeylocust,...,SI11,Charleston-Richmond Valley-Tottenville,5,5024401,Staten Island,Staten Island,503,24,62,51
4,2016-06-24,23,OnCurb,1,NaN,NaN,NoDamage,Volunteer,Stones,London planetree,...,MN03,Central Harlem North-Polo Grounds,1,1022102,Manhattan,New York,110,30,70,9

In [42]:
# testデータの先頭行を表示
test.head()

,created_at,tree_dbh,curb_loc,steward,guards,sidewalk,user_type,problems,spc_common,spc_latin,nta,nta_name,borocode,boro_ct,boroname,zip_city,cb_num,st_senate,st_assem,cncldist
19984,2015-09-08,15,OnCurb,NaN,NaN,Damage,NYC Parks Staff,NaN,Callery pear,Pyrus calleryana,BK17,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,3,3062000,Brooklyn,Brooklyn,315,22,45,48
19985,2015-10-15,5,OnCurb,1or2,NaN,NoDamage,Volunteer,NaN,cherry,Prunus,BX62,Woodlawn-Wakefield,2,2045101,Bronx,Bronx,212,34,81,11
19986,2016-08-03,4,OnCurb,NaN,Unsure,NoDamage,Volunteer,NaN,littleleaf linden,Tilia cordata,QN60,Kew Gardens,4,4013800,Queens,Kew Gardens,409,14,27,29
19987,2015-08-06,7,OnCurb,NaN,NaN,NoDamage,TreesCount Staff,NaN,dawn redwood,Metasequoia glyptostroboides,BK09,Brooklyn Heights-Cobble Hill,3,3000301,Brooklyn,Brooklyn,302,26,52,33
19988,2015-10-21,6,OnCurb,1or2,Helpful,NoDamage,TreesCount Staff,Stones,purple-leaf plum,Prunus cerasifera,BK75,Bedford,3,3025100,Brooklyn,Brooklyn,303,25,56,36

In [43]:
train.info()

# NAN削除後の情報
# train_dropna = train.dropna()
# print(train_dropna.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19984 entries, 0 to 19983
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  19984 non-null  object
 1   tree_dbh    19984 non-null  int64
 2   curb_loc    19984 non-null  object
 3   health      19984 non-null  int64
 4   steward     5101 non-null   object
 5   guards      5041 non-null   object
 6   sidewalk    19984 non-null  object
 7   user_type   19984 non-null  object
 8   problems    7741 non-null   object
 9   spc_common  19984 non-null  object
 10  spc_latin   19984 non-null  object
 11  nta         19984 non-null  object
 12  nta_name    19984 non-null  object
 13  borocode    19984 non-null  int64
 14  boro_ct     19984 non-null  int64
 15  boroname    19984 non-null  object
 16  zip_city    19984 non-null  object
 17  cb_num      19984 non-null  int64
 18  st_senate   19984 non-null  int64
 19  st_assem    19984 non-null  int64
 20  cncldist    19984 non-null  int64
dtypes: int64(8), object(13)
memory usage: 3.4+ MB

In [24]:
# print(train["created_at"].value_counts())
# print(train["tree_dbh"].value_counts())
# print(train["curb_loc"].value_counts())
print(train["health"].value_counts()) # 目的変数
# print(train["steward"].value_counts())
# print(train["guards"].value_counts())
# print(train["sidewalk"].value_counts())
# print(train["user_type"].value_counts())
# print(train["problems"].value_counts())
# print(train["spc_common"].value_counts())
# print(train["spc_latin"].value_counts())
# print(train["nta"].value_counts())
# print(train["nta_name"].value_counts())
# print(train["borocode"].value_counts())
# print(train["boro_ct"].value_counts())
# print(train["boroname"].value_counts())
# print(train["zip_city"].value_counts())
# print(train["cb_num"].value_counts())
# print(train["st_senate"].value_counts())
# print(train["st_assem"].value_counts())
# print(train["cncldist"].value_counts())

1    15751
0     3535
2      698
Name: health, dtype: int64

In [ ]:
# trainデータの統計的な情報を表示
print(train.describe())

In [ ]:
# カテゴリカルな特徴量を数値に変換する
categorical_cols = ['created_at','curb_loc','steward','guards','sidewalk','user_type','problems','spc_common','spc_latin','nta','nta_name','boroname','zip_city']
train = utils.bulk_label_encoding(train, categorical_cols)
print(train[categorical_cols])

In [ ]:
# 数値列の相関行列を計算
correlation_matrix = train.corr()
# 相関行列のヒートマップを可視化
plt.figure(figsize=(18, 10))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Matrix')
plt.show()

In [ ]:
# 降順でソート
correlation_with_price_range = train.corr()['health'].drop('health')
correlation_with_price_range = correlation_with_price_range.sort_values(ascending=True)
print(correlation_with_price_range)

#横棒グラフで相関係数を表示 
#y_corrには特定の列の相関係数を格納 
fig, ax = plt.subplots(figsize=(10, 10)) 
#横棒グラフ作成 
sns.barplot(x=correlation_with_price_range, y=correlation_with_price_range.index, ax=ax) 
#X,Y軸とグラフタイトル 
ax.set_xlabel("Correlation Coefficient") 
ax.set_ylabel("Features") 
ax.set_title(f"Correlation with Attrition") 
#表示 
plt.show()

# 別パターンの分析

In [48]:
# NAがあるかどうかを確認する
train.isna().sum().any(),  test.isna().sum().any()

(True, True)

In [49]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19984 entries, 0 to 19983
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  19984 non-null  object
 1   tree_dbh    19984 non-null  int64
 2   curb_loc    19984 non-null  object
 3   health      19984 non-null  int64
 4   steward     5101 non-null   object
 5   guards      5041 non-null   object
 6   sidewalk    19984 non-null  object
 7   user_type   19984 non-null  object
 8   problems    7741 non-null   object
 9   spc_common  19984 non-null  object
 10  spc_latin   19984 non-null  object
 11  nta         19984 non-null  object
 12  nta_name    19984 non-null  object
 13  borocode    19984 non-null  int64
 14  boro_ct     19984 non-null  int64
 15  boroname    19984 non-null  object
 16  zip_city    19984 non-null  object
 17  cb_num      19984 non-null  int64
 18  st_senate   19984 non-null  int64
 19  st_assem    19984 non-null  int64
 20  cncldist    19984 non-null  int64
dtypes: int64(8), object(13)
memory usage: 3.4+ MB

In [53]:
# https://www.kaggle.com/code/dansbecker/handling-missing-values
# カラムごとの欠損値を表示
missing_val_count_by_column = (train.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

steward     14883
guards      14943
problems    12243
dtype: int64